<div class="text-center">
<% if current_user.driver? %>   

	<% if current_user.empty? %>	  
	  <div >
        <p id="notice" class="alert alert-info alert-dismissible fade show"> 
        	Tu cuenta no está habilitada para manejar. Introducí tus datos en la pestaña <a href="/documents/index" class="alert-link">Documentos</a>.   
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>
    <% if current_user.submitted? %>	  
	  <div >
        <p id="notice" class="alert alert-warning alert-dismissible fade show"> 
        	Tu cuenta aún no está habilitada para manejar. Los datos estan siendo verificados por un supervisor... 	
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>
    <% if current_user.blocked? %>	  
	  <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
        	Tu cuenta ha sido bloqueada por un supervisor. 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>
    <% if current_user.rejected? %>	  
	  <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
        	Tus datos han sido rechazados por un supervisor. Revisalos y envialos nuevamente en la pestaña <a href="/documents/index" class="alert-link">Documentos</a>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>
    <% if current_user.expired? %>   
      <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
            Tu licencia de conducir ha expirado. Actualiza tus datos en la pestaña <a href="/documents/index" class="alert-link">Documentos</a>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>


   <!-- DEBBUGGING -->

    <% if current_user.rentals.any? %>   
      <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
            Este usuario tiene un rental en su historial.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>

    <% if current_user.rentals.any? && !current_user.rentals.last.expired? %>   
      <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
            El ultimo rental aun esta ACTIVO.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>
    <% end %>

    <div >
        <p id="notice" class="alert alert-danger alert-dismissible fade show"> 
            Saldo actual <%= current_user.balance %>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>

<% end %>
</div>