
<%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>
<div class="accordion accordion-flush" id="accordionLista" >

<!-- De momento ordena por combustible -->
<% if @carsDisponibles.any? %> 

  <% @carsDisponibles.each do |car| %>
      <%= render partial: 'search/car_card', locals:{car: car} %>  
  <% end %>   

<% else %> 
        <img src="/assets/autos/empty.png" alt="" class="col-md-4">
<% end %>  

</div>


  