<%= render partial: "avisos_driver" %>

<head>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />


</head>	

<body style="height:100%">	
  <%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>


<%# ======================================================================================================== %>
<%# ===================================== MAPA ============================================================= %>

    
      <%= render partial: 'search/map' %>  
 

<%# ======================================================================================================== %>
<%# =============================== LISTA DE AUTOS ========================================================= %>

    <% if current_user.admin? %>
      <div style="margin-left:15px; margin-top:15px;">
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCar">
          Agregar Autos
        </button>
      </div>
    <% end %>

    <!-- Modal -->
    <% car = Car.new %>
    <div class="modal fade" id="modalCar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCarLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" id="cardModalContent" style="height:fit-content; border-radius:1%">
          <div class="modal-body">
            <%= render partial: "cars/form", locals: { car: car } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
          </div>
        </div>
      </div>
    </div>


       <p>
        <%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>
        <div class="accordion accordion-flush" id="accordionLista" >
          <% if @carsList.any? %> 
            <% @carsList.each do |car| %>
                <%= render partial: 'search/car_card', locals:{car: car} %>  
            <% end %>
            
          <% else %>
                  <img src="/assets/autos/empty.png" alt="" class="col-md-5">
                  <!--<img src="/assets/autos/empty.png" alt="" width="650">-->
          <% end %>  
        </div>
      </p>
  
  
</body>	