<head>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />


</head>	

<body>	

<%# ======================================================================================================== %>
<%# ===================================== MAPA ============================================================= %>

  <%= render partial: 'search/map' %>  


  
  <% if current_user %>
    <h3> bienvenido <%= "#{current_user.name} #{current_user.lastName}" %> </h3>
  <% end %>
  


<%# ======================================================================================================== %>
<%# =============================== LISTA DE AUTOS ========================================================= %>

<p>
<%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>
<div class="accordion accordion-flush" id="accordionLista" >

<% if @carsList.any? %> 

  <% @carsList.each do |car| %>
      <%= render partial: 'search/car_card', locals:{car: car} %>  
  <% end %>   

<% else %> 
        <img src="/assets/autos/empty.png" alt="" class="col-md-4">
<% end %>  
</div>	
</p>






</body>	