<div id="<%= dom_id fine %>">
  <p>
    <strong>Amount:</strong>
    <%= fine.amount %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= fine.motive %>
  </p>

  <p>
    <strong>User:</strong>
    <%= fine.user_id %>
  </p>

</div>
