
<%# La view recibe el tiempo del timer en minutos a traves de la variable "tiempo" %>

<head>
  <script>
        let tiempo_Minutos = <%= tiempo %>; 
        let tiempo_Segundos = tiempo_Minutos * 60;
        //let tiempo_Segundos = 5 //Fuerzo el timer a 5 segundos para testear
        let dias;
        let horas;
        let minutos;
        let segundos;
        let notificación = "Faltan 15 minutos para que se termine el tiempo."

        var aviso = setInterval(function mostrar_Tiempo() {

        tiempo_Segundos--;

        dias = Math.floor(tiempo_Segundos/(60*24*60));
        horas = Math.floor(tiempo_Segundos/(60*60));
        minutos = Math.floor(tiempo_Segundos/60);
        segundos = Math.floor(tiempo_Segundos);

        horas = horas - dias*24;
        minutos = minutos - (dias*24*60 + horas*60);
        segundos = segundos - (dias*24*60*60 + horas*60*60 + minutos*60);

        if (tiempo_Segundos > 0) { 

        document.getElementById('dias').innerHTML = dias + " dias";
        document.getElementById('horas').innerHTML = horas + " horas";
        document.getElementById('minutos').innerHTML = minutos +  " minutos";
        document.getElementById('segundos').innerHTML = segundos + " segundos";

        }
        else {
        document.getElementById('fin_De_Alquiler').innerHTML = "Se terminó el tiempo.";
        clearInterval(aviso);
        }
        if (minutos == 15) {
        document.getElementById('notificacion_15_Minutos').innerHTML = notificacion;
        }

        },1000)            
  </script>
</head>

<body>
<section>
  <h2 id = "notificacion_15_Minutos"></h2>
</section>

<section>
    <h1 id = "fin_De_Alquiler"></h1>
    <span id="dias"></span>
<span id="horas"></span>
<span id="minutos"></span>
<span id="segundos"></span>
</section>

</body>
