
<div class="card">
  <h1 class="card-header">Editing rental</h1>

  <%= render "form", rental: @rental %>

  <br>

  <div>
    <%= link_to "Volver al alquiler", @rental, class: "btn btn-primary" %>
  </div>
</div>
