<p style="color: green"><%= notice %></p>

<h1>Rentals</h1>

<div id="rentals">
  <% @rentals.each do |rental| %>

    <% if rental.user_id == current_user.id || !current_user.driver? %>
      <%= render rental %>
      <p>
        <%= link_to "Show this rental", rental %>
      </p>  
    <% end %>
  <% end %>
</div>

<% if current_user.driver? %>
  <%= link_to "New rental", new_rental_path %>
<% end %>

