<p style="color: green"><%= notice %></p>

<h1>Alquileres</h1>

<div id="rentals">
  <% @rentals.each do |rental| %>

    <%= render rental %>
    <p>
      <%= link_to "Ver Este Alquiler", rental, class: "btn btn-primary" %>
    </p>  
  <% end %>


  <%= link_to "Volver", user_path(current_user), class: "btn btn-primary" %>
</div>

