
<div calss="text-center align-items-center">
  <div class="card" style="width: 30rem">
    <h1 class="card-header">Detalles Alquiler</h1>
    <%= notice %>

    <%= render "form", rental: @rental %>

    <br>

    <div>
      <%= link_to "Volver a la lista de autos", "/search" %>
    </div>
  </div>
</div>
