


        <%#> https://getbootstrap.com/docs/5.0/components/accordion/ <%>
        <div class="accordion accordion-flush" id="accordionLista" >
          <% if @driverList.any? %> 
      			<div style="margin-left:30px; margin-top:15px;">
      				<h1><b><i>Lista de Conductores</i></b></h1>
      			</div>

            <div style="margin-left:30px; margin-top:15px;">
              <table>
                <tbody> <tr> <td>               
                        <form class="form-inline my-2 my-lg-0" action="/drivers/search">
                          <input class="form-control mr-sm-2" name="q" type="text" placeholder="Email, nombre, apellido, DNI", aria-label="Buscar">
                          <input type="hidden" name="sort_param" value="<%= params[:sort_param] %>">
                          <button class="btn btn-info" type="submit"> Buscar </button>          
                        </form> 
                  </td> <td>                
                      <% if current_user.admin? %>    
                                <form action="">
                                    <input type="hidden" name="sort_param" value="descendente"> &nbsp;    
                                    <button class="btn btn-success" type="submit"> Mayor Balance &#8681; </button> 
                                </form>
                          </td><td>  
                                <form action="">
                                    <input type="hidden" name="sort_param" value="ascendente"> &nbsp;     
                                    <button class="btn btn-danger" type="submit"> Menor Balance &#8679; </button>
                                </form>
                      <% end %> 
                </td> </tr> </tbody>                               
              </table>
            </div>

            <%= render partial: "/drivers/total_balance"%>

            <p></p>

            <% @driverList.each do |driver| %>
                <%= render partial: 'drivers/driver_card', locals:{driver: driver} %>  
            <% end %>
            
          <% else %>
          		<div class="text-center">
				        <div id="notice" class="alert alert-info alert-dismissible fade show"> 
				        	No hay conductores en el sistema... 	
				        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </div>
				      </div>

              <div style="margin-left:30px; margin-top:15px;">
                <h1><b><i>Lista de Conductores</i></b></h1>
              </div>

              <div style="margin-left:30px; margin-top:15px; margin-bottom:15px;">
                <form class="form-inline my-2 my-lg-0" action="/drivers/search">
                  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Email, nombre, apellido, DNI", aria-label="Buscar">
                  <button class="btn btn-info" type="submit"> Buscar </button>              
                </form>
              </div>               

				</div>
          <% end %>  
        </div>
      </p>
