<% if !Report.any? %>
      <div >
        <p id="notice" class="alert alert-info alert-dismissible fade show"> 
          No hay reportes...   
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </p>
      </div>

<% else %>
  <h1><b><i>Reportes</i></b></h1>

  <div id="reports">
    <% @reports.each do |report| %>
      <%= render report %>
      ||=========================================================================================||
    <% end %>
  </div>

<% end %>