<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">
    <img src="/assets/logo/AlquilApp_White_Text.png" height="30" alt="">
  </a> 
  <!--<a class="navbar-brand" href="#">AlquilApp</a> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

     <% if current_user %>  

        <!-- OCULTA LA NAVBAR SI HAY UN ALQUILER EN CURSO -->
        <% if current_user.driver? && current_user.rentals.any? && !current_user.rentals.last.expired? %>   
          

        <% else %> 

          <li class="nav-item active">
            <a class="nav-link" href="/search" data-turbolinks="false">Encontrar Autos</a>
          </li>

          <% if current_user.driver? %>
              <a class="nav-link" href="/documents/index" >Documentos</a>
          <% end %>

          <% if current_user.supervisor? %>
              <a class="nav-link" href="/documents/index" >Evaluar Documentos</a>
          <% end %>

          <%= link_to "Editar Perfil", edit_user_path(current_user.id) , class:"nav-link"%>  
          <%= link_to "Cerrar Sesión", :logout, data: { turbo_method: :post } , class:"nav-link"%>    

        <% end %>

    <% else %>   
        <%= link_to "Iniciar Sesión", :login , class:"nav-link"%>
        <%= link_to "Crear Cuenta", new_user_path, class:"nav-link" %> 
    <% end %> 
   


    </ul>  
  </div>
</nav>